body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #333;
  text-align: center;
}

.head {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-image: url("Sizzle Logo.jpg");
  background-size: cover;
  background-position: center;
}
h1 {
  text-align: center;
  background-color: #dd8f6b;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-image: url("flames.jpg");
  background-size: cover;
  background-position: center;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.product img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

reservationForm {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 50px;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background: #ff7e5f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #feb47b;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.jumbotron {
  margin-bottom: 0;
  padding: 150px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron .container {
  position: relative;
  z-index: 2;
}

.jumbotron::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

h1,
h2,
h4 {
  margin-bottom: 20px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.card-title {
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
